Create a function that takes a number as an argument and returns True or False depending
on whether the number is symmetrical or not. A number is symmetrical when it is the same as
its reverse.
Examples
is_symmetrical(7227) ➞ True
is_symmetrical(12567) ➞ False
is_symmetrical(44444444) ➞ True
is_symmetrical(9939) ➞ False
is_symmetrical(1112111) ➞ True

In [4]:
def is_symmetrical(n):
    org=n
    s=0
    while(org!=0):
        rem=org%10
        s=(s*10)+rem
        org=org//10
    if(s==n):
        return True
    else:
        return False
print(is_symmetrical(7227))
print(is_symmetrical(12567))        
print(is_symmetrical(44444444))      
print(is_symmetrical(9939))
print(is_symmetrical(1112111))

True
False
True
False
True

Question 2
Given a string of numbers separated by a comma and space, return the product of the
numbers.
Examples
multiply_nums("2, 3") ➞ 6
multiply_nums("1, 2, 3, 4") ➞ 24
multiply_nums("54, 75, 453, 0") ➞ 0
multiply_nums("10, -2") ➞ -20

In [22]:
def multiply_nums(s):
    p=1
    for i in s.split(","):
        p=p*int(i)
    print(p)        
multiply_nums("2, 3")   
multiply_nums("1, 2, 3, 4")
multiply_nums("54, 75, 453, 0")
multiply_nums("10, -2")

6
24
0
-20

Question 3
Create a function that squares every digit of a number.
Examples
square_digits(9119) ➞ 811181
square_digits(2483) ➞ 416649
square_digits(3212) ➞ 9414
Notes
The function receives an integer and must return an integer.

In [34]:
def square_digits(n):
    s=""
    for i in str(n):
        y=int(i)*int(i)
        s=s+str(y)
    print(s)
square_digits(9119) 
square_digits(2483)
square_digits(3212)

811181
416649
9414

Question 4
Create a function that sorts a list and removes all duplicate items from it.
Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]
setify([4, 4, 4, 4]) ➞ [4]
setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]
setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [38]:
def setify(l):
    s=set(l)
    n=list(s)
    print(n)
setify([1, 3, 3, 5, 5])
setify([4, 4, 4, 4])
setify([5, 7, 8, 9, 10, 15])
setify([3, 3, 3, 2, 1])

[1, 3, 5]
[4]
[5, 7, 8, 9, 10, 15]
[1, 2, 3]

Question 5
Create a function that returns the mean of all digits.
Examples
mean(42) ➞ 3
mean(12345) ➞ 3
mean(666) ➞ 6
Notes
 The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in
512 is (5+1+2)/3(number of digits) = 8/3=2).
 The mean will always be an integer.

In [41]:
def mean(n):
    s=0
    c=0
    for i in str(n):
        s=s+int(i)
        c=c+1
    mean=s/c
    print(round(mean))
mean(42)     
mean(12345)        
mean(666)

3
3
6